.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #777;
  padding: 20px 60px;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 2px 2px 4px 8px #777;
}

.footer-left {
  font-size: 13px;
  color: #ccc;
}

.footer-left strong {
  color: #fff;
}

.footer-right h4 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons .icon-placeholder {
  width: 20px;
  height: 40px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}
@media (max-width: 768px) {
  .footer {
    padding: 20px;
    margin-top: 80%;
  }
  .footer-bottom {
    margin-top: -5px;
    margin-left: 35px;
    margin-bottom: 20px;
    text-align: left;
  }
}
