@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Fira Code", monospace;
  background: #282c33;
  color: #fff;
}
::-webkit-scrollbar {
  background: transparent;
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #d186f0;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.section {
  padding: 20px 80px;
  max-width: 1240px;
  margin: 0 auto;
}
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 50px;
  }
}
